<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.receivers.count > 0 %>

    <%= f.fields_for :receivers do |p|  %>
   
      <ul class="my-receivers">
        <% current_user.receivers.each do |receiver| %>

          <li>
            <%= p.check_box(receiver.id) %>
            <%= p.label(receiver.id, receiver.name) %>
          </li>

        <% end %>
      </ul>

    <% end %>

  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>

  <div class="actions">
    <paper-button class="my-button" raised><%= f.submit %></paper-button>
  </div>

<% end %>
