<%= form_for(@receiver) do |f| %>
  <%= render 'shared/error_messages' %>
  <% if @receiver.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@receiver.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
      <% @receiver.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  Add new receiver to contacts
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class='field'>
    <%= f.label :phonenumber %>
    <%= f.text_field :phonenumber, class: 'form-control'%>
  </div>

  <div class="actions">
    <paper-button class="my-button" raised><%= f.submit %></paper-button>
  </div>

<% end %>
