<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <strong><%= @user.name %></strong>
      </h1>

      <%= render :partial => "relationships/form", :locals => {:relationship => Relationship.new} %>
      <%= render :partial => "messages/form", :locals => {:message => Message.new} %>
    </aside>

    <%= render @user.messages %>

</div>
