<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <strong><%= @user.name %></strong>
      </h1>

      <ul class="my-receivers">
      <% @receivers.each do |receiver| %>
        <li>
         <%= check_box_tag(:receiver) %>
         <%= label_tag(:receiver, receiver.name) %>
        </li>
      <% end %>
      </ul>     

      <%= render :partial => "messages/form" %>
    </aside>

    <%= render @user.messages %>

</div>
