<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <strong>
        <%= @user.name %>
      </strong>
      </h1>
</aside>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>User type:</strong>
  <%= @user.user_type  %>
</p>

</div>
<%= link_to 'Edit', edit_user_path(@user) %> |
