<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <strong><%= @user.name %></strong>
      </h1>

<% if @user.receivers.count > 0 %>

      <ul class="my-receivers">
      <% @receivers.each do |receiver| %>
        <li>
         <%= check_box_tag(:receiver) %>
         <%= label_tag(:receiver, receiver.name) %>
        </li>
      <% end %>
      </ul>     

      <%= render :partial => "messages/form" %>
    </aside>

<% else %>

<p>You don't have any Reveivers yet. <%= link_to "Add a new one", :controller => 'receivers', :action => 'new' %>?

<% end %>

    <%= render @user.messages %>

</div>
