<!DOCTYPE html>
<html>
<head>

  <%= stylesheet_link_tag 'application', media: 'all',
  'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= html_import_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>

  <link rel="import" href="components/paper-button/paper-button.html">
  <link rel="import" href="components/paper-tabs/paper-tabs.html">
  <link rel="import" href="components/core-dropdown/core-dropdown.html">
  <link rel="import" href="components/paper-dropdown-menu/paper-dropdown-menu.html">
  <link rel="import" href="components/paper-dropdown/paper-dropdown.html">
  <link rel="import" href="components/core-menu/core-menu.html">
  <link rel="import" href="components/paper-input/paper-input.html">
  <link rel="import" href="components/paper-checkbox/paper-checkbox.html">

  <link href='http://fonts.googleapis.com/css?family=Poiret+One|Josefin+Sans' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
</script>
<![endif]-->

</head>
<body>
  <%= render 'layouts/header' %>
  <!-- <paper-tabs selected="0">
    <paper-tab>TAB 1</paper-tab>
    <paper-tab>TAB 2</paper-tab>
    <paper-tab>TAB 3</paper-tab>
  </paper-tabs> -->
  <!-- <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= link_to "Text After Death", home_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to "Log in", login_path %></li>
        </ul>
      </nav>
    </div>
  </header> -->
  <div class="container">
    <%= yield %>
    <%= render 'layouts/footer' %>
    <!-- <%= debug(params) if Rails.env.development? %> -->
  </div>
</body>
</html>
